.profile_nav {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 5px;
}

input {
  border: none;
  background: antiquewhite;

  padding: 10px 15px;
  border-radius: 5px;
  transition: all 1s;
}
input:hover {
  background: rgb(121, 133, 32);
  color: antiquewhite;
}


.profile_nav span{
  background-color: red;
  color: aliceblue;
  font-weight: 700;
  padding: 5px 7px;
  position: absolute;
  left: 71%;
  top: 9%;
  /* transform: rotate(39deg); */
  font-size: 10px;
  border-radius: 50%;

}

.profile_nav li:last-child input{
  position: relative;
}
